
/***************
* audi R8 *
***************/
// 1680px // 1440px 1220px 768px 400px
// Fonts //
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Muli:200,300,400,600,600i,700');

// audi R8 //
.audi-r8 {
	font-family: 'Muli', sans-serif;
	color: $white;
	font-weight: $regularFont;
	line-height: 36px;
	font-size: 24px;
	position: relative;
	overflow: hidden;
	background: $red;
  
	@media(max-width: 1219px) {
		font-size: 26px;
		line-height: 1.5;
	}
	@media(max-width: 991px) {
		font-size: 19px;
	}
	@media(max-width: 767px) {
		font-size: 18px;
	}
	@media(max-width: 400px) {
		font-size: 16px;
	}

	// /////////////// //
	// general styles //
	/////////////////////

	.two-cols {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -35px;
		@media(max-width: 1439px) {
			margin: 0 -20px;
		}
		@media(max-width: 991px) {
			margin: 0 -15px;
		}
		@media(max-width: 767px) {
			margin: 0;
		}
		&.margin-bottom {
			margin: 0 -35px 50px;
			@media(max-width: 991px) {
				margin: 0 -15px 20px;
			}
			@media(max-width: 767px) {
				margin: 0;
			}
		}
		.col {
			width: 50%;
			padding: 0 35px;
			@media(max-width: 1439px) {
				padding: 0 20px;
			}
			@media(max-width: 991px) {
				padding: 0 15px;
			}
			@media(max-width: 767px) {
				width: 100%;
				padding: 0;
			}
			&.img-center {
				margin: auto 0;
			}
		}
		p {
			margin: 0 0 50px;
			@media(max-width: 1439px) {
				margin: 0 0 20px;
			}
		}
	}
	a {
		color: $black;
		transition: text-shadow .3s ease-in-out;
		&:hover {
			text-shadow: 2px 4px 3px rgba(255,255,255,0.3);
		}
	}
	// img-section //
	.img-section {
		padding-top: 650 / 1440 * 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	// r8-section general  //
     .r8-section {
		padding: 0 100px 100px; 
		@media(max-width: 1439px) {
			padding: 0 50px 50px;
		}
		@media(max-width: 991px) {
			padding: 0 40px 50px;
		}
		@media(max-width: 767px) {
			padding: 0 30px 40px;
		}
		@media(max-width: 400px) {
			padding: 0 20px 30px;
		}
		.title-block {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 85px;
			@media(max-width: 991px) {
				margin: 0 0 30px;
			}
			@media(max-width: 767px) {
				justify-content: center;
				margin: 0 0 20px;
			}
		}
		h2 {
			color: $white;
			font-size: 107px;
			font-weight: $regularMedium;
			letter-spacing: 10px;
			text-transform: uppercase;
			width: 45%;
			line-height: .7;
			@media(max-width: 1439px) {
				font-size: 79px;
				letter-spacing: inherit;
				line-height: .9;
			}
			@media(max-width: 1219px) {
				letter-spacing: 4px;
			}
			@media(max-width: 991px) {
				width: 100%;
				margin: 0 0 10px;
			}
			@media(max-width: 767px) {
				text-align: center;
				font-size: 65px;
			}
			@media(max-width: 400px) {
				font-size: 45px;
			}
		}
		.generation-wrap {
			width: 55%;
			text-align: center;
			display: flex;
			flex-direction: column;
			@media(max-width: 767px) {
				width: 100%;
			}
			.name {
				display: block;
				background: linear-gradient(to right, rgba(135,135,135,1) 1%,rgba(212,212,212,1) 30%,rgba(134,134,134,1) 75%,rgba(155,155,155,1) 100%);
				color: $dark-gray;
				font-size: 50px;
				font-weight: $semiBoldFont;
				padding: 20px;
				margin: 0 -100px 25px 0;
				@media(max-width: 1439px) {
					font-size: 30px;
					padding: 10px;
				}
				@media(max-width: 767px) {
					margin: 0 0 9px 0;
					font-size: 27px;
					padding: 5px;
				}
				@media(max-width: 400px) {
					font-size: 22px;
				}

			}
			.years-wrap {
				display: flex;
				width: 100%;
				padding: 0 0 0 20%;
				.years {
					padding: 0 0 0 12px;
					font-size: 42px;
					font-weight: $regularMedium;
					white-space: nowrap;
					@media(max-width: 1439px) {
						font-size: 30px;
					}
					@media(max-width: 767px) {
						font-size: 25px;
					}
				}
				.decor {
					display: block;
					width: 100%;
					height: 45px;
					border: 3px solid $white;
					border-width: 0 0 3px 3px;
					margin: -25px 0 0;
					@media(max-width: 1219px) {
					    height: 50px;
					}
					@media(max-width: 767px) {
					    height: 28px;
					    margin: -9px 0 0;
					}
				}
			}
		}
		.list-holder {
			 width: 50%;
			 padding: 0 35px;
			@media(max-width: 1219px) {
				padding: 0 15px;
			}
			@media(max-width: 767px) {
				width: 100%;
				padding: 0;
			}
			 &:last-child {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
		.list-dotted {
			li {
				margin: 0 0 50px;
				padding: 0 0 0 20px;
				position: relative;
				@media(max-width: 991px) {
					margin: 0 0 20px;
					padding: 0 0 0 10px;
				}
				&:last-child {
					margin: 0;
					@media(max-width: 991px) {
						margin: 0 0 15px;
					}
				}
				&:before {
					content: '';
					display: block;
					width: 8px;
					height: 8px;
					background: $white;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 13px;
					@media(max-width: 991px) {
						width: 5px;
						height: 5px;
					}
				}
			}
		}
		.fun {
			padding: 40px 25px;
			border: 3px solid $white;
			@media(max-width: 1219px) {
				padding: 20px;
			}
			@media(max-width: 767px) {
				padding: 10px;
			}
			span {
				display: inline-block;
				font-size: 42px;
				font-weight: $boldFont;
				text-transform: uppercase;
				margin: 0 0 40px;
				@media(max-width: 1219px) {
					font-size: 30px;
					margin: 0 0 15px;
				}
				@media(max-width: 767px) {
					font-size: 20px;
					margin: 0 0 10px;
				}
				@media(max-width: 400px) {
					font-size: 16px;
					margin: 0 0 5px;
				}
			}
			p {
				margin: 0;
			}
		}
		.small-img {
			@media(max-width: 1439px) {
				margin: 0 -15px!important;
			}
			@media(max-width: 767px) {
				margin: 0!important;
				text-align: center;
			}	
		}
    }
	// specifications //
	  .specifications {
		padding: 0 0 150px; 
		@media(max-width: 1439px) {
			padding: 0 0 100px;
		}
		@media(max-width: 1219px) {
			padding: 0 0 75px;
		}
		@media(max-width: 991px) {
			padding: 0 0 50px;
		}
		
		.title {
			display: block;
			background: linear-gradient(to right, rgba(227,227,227,1) 0%,rgba(135,135,135,1) 62%,rgba(227,227,227,1) 100%);
			color: $dark-gray;
			font-weight: $boldFont;
			font-size: 30px;
			padding: 23px;
			margin: 0 0 75px;
			text-transform: uppercase;
			text-align: center;
			position: relative;
			@media(max-width: 1219px) {
				font-size: 27px;
			    padding: 15px;
			}
			@media(max-width: 991px) {
				font-size: 25px;
			    padding: 10px;
			}
			@media(max-width: 400px) {
				font-size: 22px;
			    padding: 5px 15px;
			    margin: 0px 0 30px;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				border-style: solid;
				border-width: 86px 0 0 123px;
				border-color: transparent transparent transparent #9b1c20;
				@media(max-width: 767px) {
					display: none;
				}
			}
			&:after {
				content: '';
				position: absolute;
				background: url(../img/img5.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 123px;
				height: 88px;
				right: 0;
				top: 100%;
				@media(max-width: 1219px) {
					width: 93px;
    				height: 67px;
				}
				@media(max-width: 991px) {
					width: 70px;
    				height: 50px;
				}
				@media(max-width: 767px) {
					display: none;
				}
			}
		}
		.characteristics-wrap {
			padding: 0 100px;
			@media(max-width: 1439px) {
				padding: 0 50px;
			}
			@media(max-width: 991px) {
				padding: 0 35px;
			}
			@media(max-width: 767px) {
				padding: 0 20px;
			}
			
		}
		.characteristics-list {
			li{
				border-top: 2px solid $white;
				padding: 10px 0 15px;
				@media(max-width: 1219px) {
					padding: 7px 0;
				}	
				@media(max-width: 767px) {
					display: flex;
					justify-content: space-between;
				}
				@media(max-width: 400px) {
					flex-direction: column;
					text-align: center;
				}
				&:last-child {
					border-bottom: 2px solid $white;
				}
				.parameter {
					display: block;
					color: $black;
					text-transform: uppercase;
					font-size: 18px;
					font-weight: $semiBoldFont;
					@media(max-width: 1219px) {
						font-size: 20px;
					}
					@media(max-width: 767px) {
						font-size: 16px;
						margin: 0 15px 0 0;
					}
					@media(max-width: 400px) {
						margin: 0;
					}
				}
				.description {
					font-size: 24px;
					font-weight: $lightFont;
					@media(max-width: 1219px) {
						font-size: 20px;
					}
					@media(max-width: 991px) {
						font-size: 16px;
					}
					@media(max-width: 786px) {
						text-align: right;
					}
					@media(max-width: 400px) {
						text-align: center;
					}
				}
			}
			&.border-bottom-none {
				li:last-child {
					@media(max-width: 767px) {
						border-bottom: none;
					}
				}
			}
		}
		.small-text {
			font-size: 16px;
			letter-spacing: 1px;
			@media(max-width: 1219px) {
				font-size: 12px;
			}
		}
	}

///////////////
// sections //
//////////////

    // intro //
	.intro-section {
		background: url(../../img/bg1.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		min-height: 950px;
		padding: 160px 90px 20px;
		@media(max-width: 1439px) {
			padding: 140px 60px 20px;
		}
		@media(max-width: 1219px) {
			min-height: 400px;
			padding: 100px 30px 10px;
		}
		@media(max-width: 767px) {
			padding: 40px 10px 10px;
		}
		@media(max-width: 400px) {
			min-height: 350px;
		}

		.intro-title {
			margin: 0 0 130px;
			@media(max-width: 991px) {
				margin: 0 0 80px;
			}
			@media(max-width: 400px) {
				margin: 0 0 55px;
			}
			h2 {
				color: $white;
				text-transform: uppercase;
				letter-spacing: 10px;
				font-size: 54px;
				font-weight: $regularMedium;
				@media(max-width: 1219px) {
					font-size: 45px;
				}
				@media(max-width: 991px) {
					font-size: 40px;
				}
				@media(max-width: 767px) {
					font-size: 35px;
					letter-spacing: 5px;
				}
				@media(max-width: 400px) {
					font-size: 30px;
				}
			}
			h1 {
				color: $white;
				text-transform: uppercase;
				letter-spacing: 4px;
				font-size: 41px;
				@media(max-width: 1219px) {
					font-size: 35px;
				}
				@media(max-width: 991px) {
					font-size: 32px;
				}
				@media(max-width: 767px) {
					font-size: 28px;
				}
				@media(max-width: 400px) {
					font-size: 22px;
				}
			}
		}
	}
	// supercars //
	.supercars {
		background: url(../img/bg2.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 700px;
		padding: 70px 100px 10px;
		@media(max-width: 1439px) {
			padding: 20px 60px;
			min-height: 500px;
		}
		@media(max-width: 991px) {
			padding: 20px 40px ;
			min-height: 450px;
		}
		@media(max-width: 767px) {
			min-height: 385px;
			padding: 20px 30px;
		}
		@media(max-width: 400px) {
			min-height: 320px;
			padding: 20px;
		}
		.info-holder {
			width: 50%;
			overflow: hidden;
			@media(max-width: 1219px) {
				width: 100%;
			}
		}
		h2 {
			display: inline;
			position: relative;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 10px;
			font-size: 42px;
			font-weight: $regularMedium;
			@media(max-width: 991px) {
				font-size: 35px;
			}
			@media(max-width: 767px) {
				font-size: 30px;
			}
			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				height: 4px;
				width: 700px;
				background: $white;
				top: 50%;
				left: 100%;
				transform: translateY(-50%);
				@media(max-width: 767px) {
					height: 2px;
				}
				@media(max-width: 400px) {
					display: none;
				}
			}
		}
		.img-holder {
			position: relative;
			text-align: right;
			margin: -50px -50px 0 0;
			z-index: 1;
			@media(max-width: 1219px) {
				margin: 0 -50px 0 0;
			}
			@media(max-width: 991px) {
				margin: 0;
			}
			&:after {
				content: '';
				position: absolute;
				background: url(../img/shadow1.png);
				width: 900px;
				height: 900px;
				right: -50px;
				top: 40%;
				transform: translateY(-50%);
				z-index: 2;
				@media(max-width: 767px) {
					display: none;
				}
			}
			img {
				position: relative;
				z-index: 3;
			}
		}	
	}
     // le-mans //
	.le-mans {
		padding: 20px 100px 0 100px;
		position: relative;
		@media(max-width: 1439px) {
			padding: 20px 60px;
		}
		@media(max-width: 991px) {
			padding: 20px 40px;
		}
		@media(max-width: 767px) {
			padding: 20px 30px;
		}
		@media(max-width: 400px) {
			padding: 20px;
		}
		.two-cols {
			margin: 0 -35px;
			@media(max-width: 991px) {
				margin: 0;
			}
			.col {
				&:first-child {
					@media(max-width: 1219px) {
						width: 70%;
					}
					@media(max-width: 991px) {
						width: 80%;
						z-index: 1;
					}
					@media(max-width: 767px) {
						width: 100%;
						z-index: 1;
						p:last-child {
							width: 65%;
						}
					}
				}
				&:last-child {
					@media(max-width: 1219px) {
						width: 30%;
						@media(max-width: 991px) {
							position: absolute;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
						}
						@media(max-width: 767px) {
							position: absolute;
							bottom: 0;
							right: 0;
							top: auto;
							transform: none;
							width: 40%;
						}
						@media(max-width: 400px) {
							transform: translateY(-90%);
						}
					}
				}	
			}
		}
		.img-holder {
			margin: 0 -100px 0 0;
			@media(max-width: 1219px) {
				margin: 0 -45px 0 0;
				text-align: right;
			}
			@media(max-width: 767px) {
				margin: 0;
			}
			
			img {
				width: 100%;
			}
		}
		p {
			@media(max-width: 1219px) {
				margin: 0 0 25px;
			}
			@media(max-width: 991px) {
				margin: 0 0 15px;
			}
		}
	}
	// 1st gener //
	.generation-style-1 {
		background-image: url(../img/bg3.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 1000px;
		.small-img {
			margin: 60px -15px 0 -10px;
			@media(max-width: 991px) {
				margin: 30px 0 0;
			}
		}
	}	
    // e-tron //
	.e-tron {
		background-image: url(../img/bg4.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.small-img {
			margin: 50px -30px 0 0;
		}
		.fun {
			margin: 30px 0 0;
		}
	}

    // 2nd generation //	
	.generation-style-2 {
		background-image: url(../img/bg5.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.small-img {
			margin: 0 -85px 0 -60px;
		}
	}
    // update //
	.update {
		background-image: url(../img/bg6.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.title-block {
			margin: 0 0 120px;
			@media(max-width: 991px) {
				margin: 0 0 30px;
			}
			@media(max-width: 767px) {
				justify-content: center;
				margin: 0 0 20px;
			}
		}
		p {
			margin: 0 0 50px;
			@media(max-width: 1219px) {
				margin: 0 0 30px;
			}
			@media(max-width: 767px) {
				margin: 0 0 20px;
			}
		}
		.small-img {
			margin: -35px -35px 0 0;
		}
	}
}




