
// colors

$white: #fff;
$red: #9b1c21;
$black: #000000;
$dark-gray: #252525;


// fonts

// font-weight
$ExtralightFont: 200;
$lightFont: 300;
$regularFont: 400;
$regularMedium: 500;
$semiBoldFont: 600;
$boldFont: 700;
$extraBoldFont: 800;