#footer {
	padding: 200px 0;
	@include media("<desktop") {
		padding: 20px 0;
	}
	.container {
		display: flex;
		justify-content: space-between;
		max-width: 880px;
		flex-wrap: wrap;
		@include media("<desktop") {
			align-items: center;
		}
		@include media("<tablet") {
			justify-content: center;
		}
	}
	.links {
		@extend %listreset;
		display: flex;

		@include media("<tablet") {
			flex-wrap: wrap;
			width: 100%;
			justify-content: center;
			margin: 0 0 10px;
		}
		li {
			margin: 0 70px 0 0;
			@include media("<tablet") {
				&:last-child {
					margin: 0;
				}
			}
			@include media("<phone") {
				width: 100%;
				margin: 0 0 10px;
				text-align: center;
			}
			a {
				text-transform: uppercase;
				color: $gray;
				font-size: 15px;
				font-weight: 700;
				transition: color .3s ease-in-out;
				word-break: break-word;
				@include media("<tablet") {
					font-size: 13px;
				}
				&:hover {
					color: $blue;
				}
			}
		}
	}
}