#header {
	padding: 10px 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}




/* menu styles */
.opener {
	display: none;
}

#nav {
	.nav-links {
		@extend %listreset;
		display: flex;
		li{
			margin: 0 0 0 50px;
			position: relative;
			a {
				text-transform: uppercase;
				font: 400 14px $base-font-karla;
				color: $blue;
				transition: opacity .3s ease-in-out;
				&:hover {
					opacity: .8;
				}
			}
			.drop-list {
				display: none;
			}
			&:hover .drop-list {
				display: block;
			}
		}
	}
	.has-drop-down {
		.drop-list {
			@extend %listreset;
		  position: absolute;
		  top: 100%;
		  left: 50%;
		  transform: translateX(-50%);
		  background: $white;
		  border: 1px solid $blue;
		  border-radius: 5px;
		  li {
		  	margin: 0!important;
		  		text-align: center;
		  	a {
		  		display: block;
		  		padding: 10px 15px;
		  		transition: background .3s ease-in-out, color .3s ease-in-out;
		  		&:hover {
						background:  linear-gradient(to bottom, #ffffff 0%,#3d77b0 37%); 
						color: $white;
		  		}
		  	}
		  }
		}
	}
}






