#header {
	padding: 10px 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}




/* menu styles */
.opener {
	display: none;
}

.menu {
	.nav-links {
		@extend %listreset;
		display: flex;
		li{
			margin: 0 0 0 50px;
			a {
				text-transform: uppercase;
				font: 400 14px $base-font-karla;
				color: $blue;
				transition: opacity .3s ease-in-out;
				&:hover {
					opacity: .8;
				}
			}
		}
	}
	.submenu-holder {
		position: relative;
		ul {
			@extend %listreset;
			display: block;
			position: absolute;
			top: 100%;
			left: -50%;
			background: $white;
			&:hover {
				display: block;
			}
			li{
				margin: 0;
				min-width: 150px;
				a {
					display: block;
					padding: 15px 10px;
					text-align: center;
					transition: all .3 ease-in-out;
					&:hover {
						background: $blue;
						color: $white;
					}
				}
			}
		}
	}
}


