
#wrapper {
	position: relative;
	overflow: hidden;
	font: 400 11px $font-family-montserrat;

	@include media-breakpoint-up(sm) {
		font-size: rem-calc(12);
	}

	@include media-breakpoint-up(md) {
		font-size: rem-calc(14);
	}
}

.container {
	max-width: rem-calc(970);
}

a {
	color: $white;
	text-decoration: none;
	outline: none;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, opacity 1s ease-in-out;
	&:hover {
		color: $red;
		text-decoration: none;
	}
}

h2 {
	font-weight: 700;
	margin: 0;
	word-break: break-word;

	@include media-breakpoint-up(sm) {
		font-size: rem-calc(24);
	}

	@include media-breakpoint-up(md) {
		font-size: rem-calc(28);
	}

	@include media-breakpoint-up(lg) {
		font-size: rem-calc(36);
	}
}

.title-section {
	position: relative;
	.decor {
		position: absolute;
		background: $gray;
		width: rem-calc(12);
		height: rem-calc(12);
		border-radius: 50%;
		left: -40px;
    top: 15px;
    &:before {
    	content: '';
    	background: $gray;
    	position: absolute;
    	height: rem-calc(2);
    	width: rem-calc(9999);
    	left: rem-calc(-9999);
    	top: 50%;
    	transform: translateY(-50%);
    }
	}
}

// hero-section //
h1 {
	margin: 0;
	color: $white;
	font-family: $font-family-lora;
	font-weight: 700;
	max-width: rem-calc(200);
	text-shadow: 2px 11px 5px rgba(0, 0, 0, 0.33);
	padding: rem-calc(40 0 0);
	word-break: break-word;

	@include media-breakpoint-up(sm) {
		font-size: rem-calc(30);
		max-width: rem-calc(300);
	}

	@include media-breakpoint-up(md) {
		font-size: rem-calc(38);
		max-width: rem-calc(380);
	}

	@include media-breakpoint-up(lg) {
		font-size: rem-calc(72);
		max-width: rem-calc(600);
		padding: rem-calc(62 0 0);
	}
}

.hero-section {
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	.container {
	min-height: rem-calc(300);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

		@include media-breakpoint-up(sm) {
			min-height: rem-calc(290);
		}

		@include media-breakpoint-up(md) {
			min-height: rem-calc(400);
		}

		@include media-breakpoint-up(lg) {
			min-height: rem-calc(590);
		}
  }
}
// stations //

.stations {
	padding: rem-calc(15 0 0);

	@include media-breakpoint-up(sm) {
			padding: rem-calc(25 0 0);
		}

	@include media-breakpoint-up(md) {
		padding: rem-calc(30 0 0);
	}

	@include media-breakpoint-up(lg) {
		padding: rem-calc(100 0 0);
	}

	.title-section {
		padding: rem-calc(0 0 20);

		@include media-breakpoint-up(sm) {
			padding: rem-calc(0 0 25);
		}

		@include media-breakpoint-up(md) {
			padding: rem-calc(0 0 30);
		}

		@include media-breakpoint-up(lg) {
			padding: rem-calc(0 0 55);
		}
	}
}

.ganre-station {
	margin: rem-calc(0 0 10);
	display: flex;

	@include media-breakpoint-up(md) {
		margin: rem-calc(0 0 25);
	}
	a {
		align-items: center;
		border-radius: rem-calc(4);
		border: 1px solid $gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: rem-calc(10);
		transition: background .3s ease-in-out;
		width: 100%;

		@include media-breakpoint-up(md) {
			min-height: rem-calc(180);
		}
		&:hover {
			background: $gray;
		}
	}
	.img-station {
		padding: rem-calc(0 0 10);
		flex-shrink: 0;
	}
	.ganre-name {
		color: $black;
		word-break: break-word;
		max-height: rem-calc(52);
    overflow: hidden;
	}
}

.btn-ganre-holder {
	margin: rem-calc(10 0 0);
}

.btn-ganre {
	border-radius: 4px;
	border: 1px solid $gray;
	color: $red;
	font-weight: 700;
	font-size: rem-calc(12);
	width: 100%;
	padding: rem-calc(10);
	text-align: center;
	text-transform: uppercase;
	transition: background .3s ease-in-out, color .3s ease-in-out;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

	@include media-breakpoint-up(sm) {
		padding: rem-calc(10);
		min-width: rem-calc(300);
		max-width: rem-calc(250);
	}	

	@include media-breakpoint-up(md) {
		font-size: rem-calc(14);
		padding: rem-calc(15);
		max-width: rem-calc(350);
	}	

	@include media-breakpoint-up(lg) {
		max-width: rem-calc(500);
	}	
	&:hover {
  	color: $white; 
  	background: $red;
	}
}


// Upcoming Events //
.events-section {
	padding: rem-calc(15 0 0);

	@include media-breakpoint-up(sm) {
		padding: rem-calc(25 0 0);
	}

	@include media-breakpoint-up(md) {
		padding: rem-calc(30 0 0);
	}

	@include media-breakpoint-up(lg) {
		padding: rem-calc(65 0 0);
	}

	.title-section {
		padding: rem-calc(0 0 20);

		@include media-breakpoint-up(sm) {
			padding: rem-calc(0 0 25);
		}

		@include media-breakpoint-up(md) {
			padding: rem-calc(0 0 30);
		}

		@include media-breakpoint-up(lg) {
			padding: rem-calc(0 0 60);
		}
	}
}

.events-info {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;

	@include media-breakpoint-up(lg) {
		min-height: rem-calc(450);
	}
	.info-holder {
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			position: relative;
		}
		.img-holder {
			display: none;
      
      @include media-breakpoint-up(md) {
      	display: block;
      	width: 40%;
				img {
					width: 100%;
				}
      }

			@include media-breakpoint-up(lg) {
				display: block;
				width: 56%;
				position: absolute;
				top: -120px;
				right: 0;
				bottom: 0;
			}
		}	
	}
}

.events {
	@extend %listreset;
	position: relative;
	padding: rem-calc(0 0 0 20);

	@include media-breakpoint-up(md) {
		width: 60%;
	}

	@include media-breakpoint-up(lg) {
		width: 44%;
		padding: rem-calc(0 0 0 40);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: rem-calc(2);
		background-color: $white;
	}
	.event {		
	position: relative;
		&:before {
			content:'';
			position: absolute;
			top: 10px;
			left: -23px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $white;

			@include media-breakpoint-up(lg) {
				top: 40px;
				left: -44px;
				width: 12px;
				height: 12px;
			}
		}
	}
}

.events-info {
	padding: rem-calc(25 0);
}

.event-date {
	@extend %listreset;
	padding: rem-calc(10 0);
	word-break: break-word;

	@include media-breakpoint-up(sm) {
		padding: rem-calc(10 0 20);
	}

	@include media-breakpoint-up(lg) {
		padding: rem-calc(40 0 20);
	}

	span {
		margin: rem-calc(0 20 0 0)
  }

	time {
		span {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -10px;
				width: 1px;
				background-color: $white;
				transform: rotate(25deg);
			}
			
		}
	}
}

.event {
	color: $white;
	margin: rem-calc(0 0 35);
	&:last-child {
		margin: rem-calc(0 0 50);
	}
	.artist {
		margin: rem-calc(0 0 10);
		font-weight: 700;
		font-size: rem-calc(28);
		word-break: break-word;

		@include media-breakpoint-up(sm) {
			font-size: rem-calc(25);
		}

		@include media-breakpoint-up(md) {
			margin: rem-calc(0 0 15);
			font-size: rem-calc(35);
		}

		@include media-breakpoint-up(lg) {
			margin: rem-calc(0 0 20);
			font-size: rem-calc(47);
		}
	}
	.place {
		margin: rem-calc(0 0 10);
		word-break: break-word;
	}

	.locality {
		word-break: break-word;
	}
}	

// news //
.news-section {
	padding: rem-calc(15 0 0);

	@include media-breakpoint-up(sm) {
		padding: rem-calc(25 0 0);
	}

	@include media-breakpoint-up(md) {
		padding: rem-calc(30 0 0);
	}

	@include media-breakpoint-up(lg) {
		padding: rem-calc(55 0 0);
	}

	.title-section {
		padding: rem-calc(0 0 20);

		@include media-breakpoint-up(sm) {
			padding: rem-calc(0 0 25);
		}

		@include media-breakpoint-up(md) {
			padding: rem-calc(0 0 30);
		}

		@include media-breakpoint-up(lg) {
			padding: rem-calc(0 0 65);
		}
	}
}		

.news {
  line-height: 1.4;

	@include media-breakpoint-up(lg) {
		padding: rem-calc(0 0 130);
	}
	.date {
		font-weight: 700;
		font-size: rem-calc(8);
		text-transform: uppercase;
		margin: rem-calc(0 0 15);
		word-break: break-word;

		@include media-breakpoint-up(sm) {
			font-size: 11px;
		}

		@include media-breakpoint-up(md) {
			margin: rem-calc(0 0 30);
		}

		&:before {
			content: '';
			display: inline-block;
			background-color: $gray;
			width: rem-calc(8);
			height: rem-calc(8);
			margin: rem-calc(0 8 0 0);
		}
	}

	.card {
    margin: rem-calc(0 0 10);

    @include media-breakpoint-up(md) {
			margin: rem-calc(0);
		}		
	}

	.card-body {
    padding: rem-calc(10);

    @include media-breakpoint-up(lg) {
			padding: rem-calc(20);
		}
	}

	.card-title {
		margin: rem-calc(0 0 15);
		font-weight: 700;
		font-size: rem-calc(14);
		word-break: break-word;

		@include media-breakpoint-up(sm) {
			font-size: rem-calc(15);
			margin: rem-calc(0 0 15);
		}

		@include media-breakpoint-up(lg) {
			font-size: rem-calc(18);
			margin: rem-calc(0 0 45);
		}
	}

	.card-text {
		margin: rem-calc(0 0 20);
		word-break: break-word;

		@include media-breakpoint-up(md) {
			margin: rem-calc(0 0 25);
		}
	}

	.btn-news {
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		color: $red;
		min-width: rem-calc(100);
		max-width: rem-calc(200);
		border: 1px solid $gray;
		border-radius: 4px;
		padding: rem-calc(8);
		transition: background .3s ease-in-out, color .3s ease-in-out;
		font-weight: 700;
		font-size: 10px;
		text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;

		@include media-breakpoint-up(sm) {
			font-size: rem-calc(12);
			margin: rem-calc(0 0 10);
		}
		&:hover {
	  	background: $red;
	  	color: $white; 
		}
	}
}

// contact //
.contact-section {
	padding: rem-calc(15 0 0);
	font-weight: 700;
	font-size: rem-calc(12);

	@include media-breakpoint-up(sm) {
		padding: rem-calc(25 0 0);
	}

	@include media-breakpoint-up(md) {
		padding: rem-calc(30 0 0);
		font-size: rem-calc(14);
	}	

	@include media-breakpoint-up(lg) {
		padding: rem-calc(60 0 0);
		font-size: rem-calc(18);
	}	
	.title-section {
		padding: rem-calc(0 0 20);

		@include media-breakpoint-up(sm) {
			padding: rem-calc(0 0 25);
		}

		@include media-breakpoint-up(md) {
			padding: rem-calc(0 0 30);
		}	

		@include media-breakpoint-up(lg) {
			padding: rem-calc(0 0 60);
		}	
	}
}

.contact-wrap {
 	word-break: break-word;
 	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	.contact {
		color: $white;
		max-width: rem-calc(625);
		padding: rem-calc(20 0);

		@include media-breakpoint-up(sm) {
			padding: rem-calc(25 0);
			max-width: rem-calc(400);
		}	

		@include media-breakpoint-up(md) {
			padding: rem-calc(30 0);
			max-width: rem-calc(500);
		}	

		@include media-breakpoint-up(lg) {
			padding: rem-calc(20 0 60);
			max-width: rem-calc(625);
		}	
	}

	h3 {
		margin: rem-calc(0 0 10);
		font: 700 22px $font-family-lora;
		text-shadow: 1.91px 10.833px 5px rgba(0, 0, 0, 0.33);
		word-break: break-word;

		@include media-breakpoint-up(sm) {
			font-size: rem-calc(26);
		}	

		@include media-breakpoint-up(md) {
			font-size: rem-calc(35);
			margin: rem-calc(0 0 15);
		}	

		@include media-breakpoint-up(lg) {
			font-size: rem-calc(60);
		}	
	}

	p {
		margin: rem-calc(0 0 30);
	}

	.subscribe-from {
		position: relative;
		font-size: rem-calc(14);
		max-width: rem-calc(400);

		@include media-breakpoint-up(md) {
			font-size: rem-calc(16);
			max-width: rem-calc(400);
		}

		@include media-breakpoint-up(lg) {
			max-width: none;
		}
	}

	.email {
		width: 100%;
		padding: rem-calc(10 90 10 10);
		border: none;
		border-radius: 4px;
		outline: none;
		color: $black;
		font-size: rem-calc(11);

		@include media-breakpoint-up(sm) {
			padding: rem-calc(10 100 10 10);
			font-size: rem-calc(13);
		}	

		@include media-breakpoint-up(lg) {
			padding: rem-calc(20 140 20 20);
			font-size: rem-calc(17);
		}	
	}

	.contact-btn {
		position: absolute;
		top: rem-calc(3);
		right: rem-calc(3);
		bottom: rem-calc(3);
		padding: rem-calc(10 5);
		color: $white;
		background: $red;
		text-transform: uppercase;
		border: none;
		border-radius: 4px;
		transition: opacity .3s ease-in-out;
		font-size: rem-calc(8);
		word-break: break-word;
		max-width: rem-calc(124);
		text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

		@include media-breakpoint-up(sm) {
			font-size: rem-calc(10);
		}

		@include media-breakpoint-up(lg) {
			padding: rem-calc(15 10);
			font-size: rem-calc(14);
		}	

		&:hover {
			opacity: .7;
		}
	}
}