#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: rem-calc(10 0);

	@include media('>phone') {
		padding: rem-calc(15 0);
	}

	@include media('>tablet') {
		padding: rem-calc(30 0);
	}
}

.logo {
	font: 700 25px $font-family-caviar-dreams;
	letter-spacing: .05em;
	line-height: 1;

	@include media('>phone') {
		font-size: 30px;
	}

	@include media('>tablet') {
		font-size: 32px;
	}

	@include media('>desktop') {
		font-size: 36px;
	}

	a {
		&:hover {
			color: $white;
		}
	}
}


/* menu styles */
.nav-bar {
	@extend %listreset;
		display: block;
		background: $gray;
		min-height: 100vh;
		padding: rem-calc(60 0 0);
		flex-direction: column;
		position:absolute;
		left: 0;
		right: 0;
 		top: 0;
		opacity: 0;
		visibility: hidden;
		overflow:hidden;
		z-index: 3;
		transition: opacity .5s ease, visibility .5s ease;
		display: flex;
	  width: 100%;
	  word-break: break-word;

	@include media('>tablet') {
		display: flex;
		background: none;
    min-height: inherit;
    padding: 0;
    flex-direction: row;
    position: relative;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    word-break: break-word;
	}
	li {
		margin:0;
		padding:0;

		@include media('>tablet') {
			margin: rem-calc(0 25 0 0);
			&:last-child {
				margin: 0;
			}
		}
		a {
			display:block;
			padding:10px;
			color: $red;
			font-weight: 700;
			text-align: center;
			transition: color .3s ease;
			text-transform: uppercase;
			font-size: 14px;
			transition: color .3s ease-in-out, opacity .3s ease-in-out;

			@include media('>tablet') {
				color:$white;
				font-size: 12px;
			}

			@include media('>desktop') {
				font-size: 14px;
			}
			&:hover {
				color: $black;
				@include media('>tablet') {
					color:$white;
					opacity: .8;
				}
			}
		}	
	}
}

/* burger menu style */
.opener {
	display: block;
	position: absolute;
	top: 12px;
	right: 20px;
	transform: translateX(0);
	z-index: 5;
	float:right;
	width:40px;
	height:30px;
	border-radius:3px;
	text-indent:-9999px;
	margin: 0 5px;

	@include media('>phone') {
		top: 15px;
  }

  @include media('>tablet') {
		display:none;
		overflow:hidden;
  }
	&:hover {
		opacity:.9;
	}
	&:before,
	&:after,
	& span{
		background: $white;
		border-radius:4px;
		position:absolute;
		top:16px;
		left:25%;
		right:25%;
		height:3px;
		margin-top:-2px; /* height/2 */
		transition:all 0.2s linear;
	}
	&:before,
	&:after{
		content:'';
		top:10px;
	}
	&:after{
		top:22px;
	}
}
/* close button transition */
.close-btn span,
.nav-active .opener span {
	opacity:0;
}

.close-btn:after,
.close-btn:before,
.nav-active .opener:after,
.nav-active .opener:before{
	transform:rotate(45deg);
	top:16px;
	left:15%;
	right:15%;
}

.close-btn:after,
.nav-active .opener:after{
	transform:rotate(-45deg);
}

.resize-active {
	.hold,
	.drop,
	.drop > ul {
		@include media('<tablet') {
			transition:none !important;
		}
	}  
}

.nav-active {
	.nav-bar {		
      width: 100%;
			opacity: 1;
			visibility: visible;
			height: 100vh;
			overflow: hidden;
			overflow-y: auto;
	}
	#wrapper {
		height: 100vh;
		overflow: hidden;
	}
	.opener {
		&:before,
		&:after,
		& span{
			background: $red;
		}
	}	
}	
