#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: rem-calc(10 0);

	@include media('>phone') {
		padding: rem-calc(15 0);
	}

	@include media('>tablet') {
		padding: rem-calc(30 0);
	}

	.container {
		@include media('>phone') {
			align-items: center;
		}
	}
}

.logo {
	font: 700 25px $font-family-caviar-dreams;
	letter-spacing: .05em;
	line-height: 1;

	@include media('>phone') {
		font-size: 30px;
	}

	@include media('>tablet') {
		font-size: 32px;
	}

	@include media('>desktop') {
		font-size: 36px;
	}

	a {
		&:hover {
			color: $white;
		}
	}
}

.navbar-toggler {
	font-size: inherit;
}

.navbar-toggler-icon {
	width: 15px;	
	height: 15px;
}

.navbar-toggler {
	padding: 3px;
}

.navbar {
	position: static;
	padding: 0;
}

.bg-light {
	background-color: inherit!important;
}

.navbar-light .navbar-nav .nav-link {
	text-align: center;
	font-size: 12px;
	color: $red;
	text-transform: uppercase;
	transition: color .3s ease-in-out, opacity .3s ease-in-out;
	padding: 10px;
	font-weight: 700;
	margin: 0;
	word-break: break-word;

	@include media('>phone') {
		font-size: 12px;
		color: $white;
		padding: 0;
		margin: rem-calc(0 0 0 15);
	}

	@include media('>tablet') {
		font-size: 15px;
		margin: rem-calc(0 0 0 48);
	}
	&:hover {
		color: $black;
		@include media('>tablet') {
			color:$white;
			opacity: .8;
		}
	}
}

.navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px 0 0;
  z-index: 99;
  background: $white;
  @include media('>phone') {
		position: static;
		background: inherit;
		padding: 0;
	}
}

.navbar-toggler {
	outline: none;
  background: $white;
	z-index: 101;
	&:focus {
		outline: none;
	}
}

.navbar-light,
.navbar-toggler {
	border-color: $red!important;
}