// gallery //

.cycle-gallery {
  position: relative;
  overflow: hidden;
  .mask {
    position: relative;
    overflow: hidden;
    .slideset {
      width: 99999px;
      float: left;
      .slide {
        float: left;      
        .container {
          max-width: 1230px;
          min-height: 600px;
          position: relative;
        }
        .slide-info {
          max-width: 950px;
          padding: 0 15px;
          margin: 0 auto;
        }
        .text-holder {
          max-width: 330px;
          font-size: 20px;
        }
        .board-name {
          font-family: $base-font-skippy;
          font-weight: 700;
        }
      } 
    }   
  } 
  .btn-prev,
  .btn-next {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    display: block;
    svg {
      @include media('<tablet') {
        width: 34px;
      }
    }
    &:hover {
      .btn-style {
        fill: $yellow;
      }
    }
    .btn-style {
      fill:#FFFFFF;
      transition: fill 0.3s ease-in-out;
    }
    .btn-style1 {
      fill:#000000;
    }
  }
  .btn-next {
    left: auto !important;
    right: -5px;
  }
  .img-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}


.btn-link {
  background: $navy-blue;
  padding: 5px 50px 5px 15px;
  position: relative;
  display: inline-block;
  border: 3px solid transparent;
  border-image: url(../images/border.svg);
  border-image-slice: 3;
  border-image-repeat: stretch;
  border-right: 10px;
  min-width: 217px;
  color: $black;
  font: 700 23px $base-font-skippy;
  text-align: start;
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
  max-width: 300px;
  &:hover .st0 {
    fill: $yellow;
  }
  .st0 {
    fill: $red;
    transition: fill .3s ease-in-out;
  }

  .st1 {
    fill:none;
    stroke:#231F20;
    stroke-width:3;
    stroke-miterlimit:10;
  }

  .st2 {
    fill:#FFF6F6; 
  }
}

#Isolation_Mode {
  position: absolute;
  top: -3px;
  right: 0;
}

.pagination {
  ul {
    @extend %listreset;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    li {
      margin: 0 5px;
    }
  }
  svg  {
    .circle {
      fill: $white;
      transition: fill .2s ease-in-out;
    }
    &:hover .circle{
      fill: $red;
    }
  }
  .active {
    .circle {
      fill: $red;
    }
  }
}


// big school //
.ready-section {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background: url(../images/block-underline.png);
    left: 0;
    right: 0;
    height: 40px;
    z-index: 2;
  }
  .container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .main-info {
    padding: 100px 0;
    .two-columns {
      display: flex;
      flex-wrap: wrap;
    }
    .col {
      width: 40%;
      font-size: 20px;
      &:last-child {
        width: 60%;
        img {
          max-width: 100%;
          height: auto;
          vertical-align: top
        }
      }
    }
    h2 {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../images/underline1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0;
        width: 100%;
        height: 10px;
      }
    }
  }

  .text-info {
    display: flex;
    flex-wrap: wrap;
    .info-holder {
      width: 100%;
      text-align: center;
      h3 {
        position: relative;
        font-family: $base-font-skippy;
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-image: url(../images/underline2.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          width: 100%;
          height: 10px;
        }
      }
      .text-holder {
        text-align: left;
      }
      .columns {
        display: flex;
        flex-wrap: wrap;
        margin: 60px -5px;
        .col-md {
          padding: 0 15px 55px;
          width: 50%;
        }
        .col-sm {
          padding: 0 15px;
          width: 33.33%;
        } 
      }
    }
    .btn-link {
      margin: 0 0 60px;
      text-align: center;
      white-space: nowrap; /* 1 */
      text-overflow: ellipsis; /* 2 */
      overflow: hidden;
      max-width: 300px;
    }
  }
}  

// school-section //
.school-section {
  text-align: center;
  padding: 100px 0;
  background-color: $brown;
  position: relative;
  &:after {
    content: '';
    background-image: url(../images/Bottom-underline.png);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
  }
  h3 {
    margin: 0 0 50px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/underline3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 100%;
      height: 10px;
    }
  }
  p {
    margin: 0 0 40px;
  }
  .btn-link {
    text-align: center;
    margin: 0 0 50px;
    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
    overflow: hidden;
    max-width: 300px;
  }
  .text-holder {
    max-width: 730px;
    margin: 0 auto;
  }
}

.events-holder {
  margin: 0 -2px 40px;
  .event {
    display: flex;
    .col {
      display: flex;
      background: $white;
      width: 75%;
      margin: 0 2px;
      flex-wrap: wrap;
      &:last-child {
        width: 25%;
        justify-content: center;
        padding: 25px 10px 20px;
      }
    }
    .calendar {
      background-image: url(../images/Calendar.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      display: flex;
      flex-wrap: wrap;
      width: 50px;
      height: 44px;
      margin: 0 0 10px;
      .month {
        width: 100%;
        margin: 12px 0 -12px;
        font-size: 10px;
        text-transform: uppercase;
      }
      .date {
        font:700 25px $base-font-skippy;
        width: 100%;
      }
    }
    address {
      text-decoration: underline;
      font-size: 13px;
    }
  }
  .photo-holder {
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .event-info {
    width: 70%;
    text-align: left;
    padding: 20px 30px 0 30px;
    .event-name {
      display: inline-block;
      margin: 0 0 10px;
    }
  }
}
.more-events {
  display: block;
  position: relative;
  &:before {
    position: absolute;
    font-size: 20px;
    background: $black;
    color: $brown;
    border-radius: 50%;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }
}

// handy section //
.handy-section {
  position: relative;
  padding: 60px 0;
  &:after {
    content: '';
    background-image: url(../images/block-underline.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
    z-index: 3;
  }
  h3 {
    position: relative;
    text-align: center;
    margin: 0 0 60px; 
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/underline3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 100%;
      height: 10px;
    }
  }
  h4 {
    font-family: $base-font-sans-serif;
    margin: 0 0 15px;
  }
  .links-holder {
    margin: 0 auto;
    max-width: 850px;
    padding: 0 15px;
  }
}

.handy-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 100px;
  .col-sm { 
    padding: 0 15px 40px;
    width: 33.33%;
  } 
  .col-md {
    padding: 0 15px;
    width: 50%;
  }
}
// post //
.post-list {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
  li{
    width: 33.33%;
    padding: 0 15px;
    display: flex;
    .post-info {
      padding: 10px 20px 50px;
      display: flex;
      flex-direction: column;
    flex-grow: 3;
      a {
        color: $black;
        font-weight: 700;
      }
    }
  }
  .style-1 {
    .post-holder{
      border-image: url(../images/border1.png);
      border-image-slice: 8;
      border-image-repeat: stretch;
    }
    .post-info {
      background: #ffe0a3;
    }
  }
  .style-2 {
    .post-holder{
      border-image: url(../images/border2.png);
      border-image-slice: 8;
      border-image-repeat: stretch;
    }
    .post-info {
      background: #c9e4f4;
    }
  }
  .style-3 {
    .post-holder{
      border-image: url(../images/border3.png);
      border-image-slice: 8;
      border-image-repeat: stretch;
    }
    .post-info {
      background: #f4c9ec;
    }
  }
  .style-4 {
    .post-holder{
      border-image: url(../images/border4.png);
      border-image-slice: 8;
      border-image-repeat: stretch;
    }
    .post-info {
      background: #c9f4ce;
    }
  }
  .style-5 {
    .post-holder{
      border-image: url(../images/border5.png);
      border-image-slice: 8;
      border-image-repeat: stretch;
    }
    .post-info {
      background: #f36d4e;
    }
  }
  .title {
    font-family: $base-font-skippy;
    font-size: 50px;
  }
  p {
    margin: 0;
  }
}
.post {
  display: flex;
  flex-direction: column;
  .post-holder {
    border: 8px solid transparent;
    margin: -65px auto 0;
    position: relative;
    max-width: 288px;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
  }  
} 


.btn-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  &:hover .circle-bg1 {
    fill: $yellow;
  } 
  .circle-bg1 {
    transition: fill .3s ease-in-out;
    fill: $red;
  }
  .circle-bg {
    stroke: black;
    stroke-width: 3px;
    fill: none;
  }
}


// Did you know //
.know-section {
  background: $brown;
  padding: 90px 0;
  font-family: $base-font-skippy;
  position: relative;
  &:after {
    content: '';
    background-image: url(../images/Bottom-underline.png);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
  }
  .title {
    align-items: center;
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 15px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 75%;
      left: 45%;
      transform: translateX(-50%);
      background-image: url(../images/underline5.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 100%;
      height: 10px;
    }
    img {
      z-index: 2;
      padding: 0 10px;
    }
  }
  .question {
    font-size: 60px;
    p{
      margin: 0;
    }
  }
  .btn-prev,
  .btn-next {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    display: block;
    svg {
      @include media('<tablet') {
        width: 34px;
      }
    }
    &:hover {
      .btn-style {
        fill: $yellow;
      }
    }
    .btn-style {
      fill:#FFFFFF;
      transition: fill 0.3s ease-in-out;
    }
    .btn-style1 {
      fill:#000000;
    }
  }
  .btn-next {
    left: auto !important;
    right: -5px;
  }
  .img-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}

.know-gallery {
  position: relative;
  overflow: hidden;
  .mask {
    position: relative;
    overflow: hidden;
    .slideset {
      width: 99999px;
      float: left;
      .slide {
        float: left;      
        .container {
          max-width: 950px;
          min-height: 300px;
          position: relative;
          text-align: center;
        }
      } 
    }   
  } 
}
// together //
.together-section {
  padding: 60px 0;
  position: relative;
  &:after {
    content: '';
    background-image: url(../images/block-underline.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
    z-index: 3;
   } 
  .container {
    max-width: 845px;
  }
  h3 {
    text-align: center;
    position: relative;
    padding: 0 0 60px;
    margin: 0;
    &:after {
      content: '';
      position: absolute;
      top: calc(100% - 60px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/underline6.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      width: 100%;
      height: 10px;
    }
  }
  .info-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .map-holder {
      width: 65%;
      padding: 0 15px;
      iframe {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 280px;
      }
    }
    .contact-holder {
      width: 35%;
      padding: 0 15px;
      strong {
        display: block;
        margin: 0 0 10px;
        font-size: 25px;
      }
    }
  }
  .contact-links {
    @extend %listreset;
    li {
      margin: 0 0 15px;
      display: flex;
      align-items: center;
      a {
        color: $black;
        transition: color .3s ease-in-out;
        &:hover {
          color: $violet;
        }
      }
    }
    i {
      display: inline-block;
      position: relative;
      width: 25px;
      height: 25px;
      background: $violet;
      border-radius: 50%;
      margin: 0 15px 0 0;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 14px;
      }
    }
  }
}