
// colors

$white: #fff;
$black: #000;
$yellow: #ffe400;
$red: #e1412d;


// fonts

// font-weight
$lightFont: 300;
$regularFont: 400;
$mediumFont: 500;
$semiBoldFont: 600;
$boldFont: 700;
$extraBoldFont: 800;
$blackFont: 900;