/***************
* audi R8 *
***************/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Muli:200,300,400,600,600i,700");
.audi-r8 {
  font-family: 'Muli', sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 36px;
  font-size: 24px;
  position: relative;
  overflow: hidden;
  background: #9b1c21; }
  @media (max-width: 1219px) {
    .audi-r8 {
      font-size: 26px;
      line-height: 1.5; } }
  @media (max-width: 991px) {
    .audi-r8 {
      font-size: 19px; } }
  @media (max-width: 767px) {
    .audi-r8 {
      font-size: 18px; } }
  @media (max-width: 400px) {
    .audi-r8 {
      font-size: 16px; } }
  .audi-r8 .two-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -35px; }
    @media (max-width: 1439px) {
      .audi-r8 .two-cols {
        margin: 0 -20px; } }
    @media (max-width: 991px) {
      .audi-r8 .two-cols {
        margin: 0 -15px; } }
    @media (max-width: 767px) {
      .audi-r8 .two-cols {
        margin: 0; } }
    .audi-r8 .two-cols.margin-bottom {
      margin: 0 -35px 50px; }
      @media (max-width: 991px) {
        .audi-r8 .two-cols.margin-bottom {
          margin: 0 -15px 20px; } }
      @media (max-width: 767px) {
        .audi-r8 .two-cols.margin-bottom {
          margin: 0; } }
    .audi-r8 .two-cols .col {
      width: 50%;
      padding: 0 35px; }
      @media (max-width: 1439px) {
        .audi-r8 .two-cols .col {
          padding: 0 20px; } }
      @media (max-width: 991px) {
        .audi-r8 .two-cols .col {
          padding: 0 15px; } }
      @media (max-width: 767px) {
        .audi-r8 .two-cols .col {
          width: 100%;
          padding: 0; } }
      .audi-r8 .two-cols .col.img-center {
        margin: auto 0; }
    .audi-r8 .two-cols p {
      margin: 0 0 50px; }
      @media (max-width: 1439px) {
        .audi-r8 .two-cols p {
          margin: 0 0 20px; } }
  .audi-r8 a {
    color: #000000;
    -webkit-transition: text-shadow .3s ease-in-out;
    transition: text-shadow .3s ease-in-out; }
    .audi-r8 a:hover {
      text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.3); }
  .audi-r8 .img-section {
    padding-top: 45.13889%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .audi-r8 .r8-section {
    padding: 0 100px 100px; }
    @media (max-width: 1439px) {
      .audi-r8 .r8-section {
        padding: 0 50px 50px; } }
    @media (max-width: 991px) {
      .audi-r8 .r8-section {
        padding: 0 40px 50px; } }
    @media (max-width: 767px) {
      .audi-r8 .r8-section {
        padding: 0 30px 40px; } }
    @media (max-width: 400px) {
      .audi-r8 .r8-section {
        padding: 0 20px 30px; } }
    .audi-r8 .r8-section .title-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 0 85px; }
      @media (max-width: 991px) {
        .audi-r8 .r8-section .title-block {
          margin: 0 0 30px; } }
      @media (max-width: 767px) {
        .audi-r8 .r8-section .title-block {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin: 0 0 20px; } }
    .audi-r8 .r8-section h2 {
      color: #fff;
      font-size: 107px;
      font-weight: 500;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: 45%;
      line-height: .7; }
      @media (max-width: 1439px) {
        .audi-r8 .r8-section h2 {
          font-size: 79px;
          letter-spacing: inherit;
          line-height: .9; } }
      @media (max-width: 1219px) {
        .audi-r8 .r8-section h2 {
          letter-spacing: 4px; } }
      @media (max-width: 991px) {
        .audi-r8 .r8-section h2 {
          width: 100%;
          margin: 0 0 10px; } }
      @media (max-width: 767px) {
        .audi-r8 .r8-section h2 {
          text-align: center;
          font-size: 65px; } }
      @media (max-width: 400px) {
        .audi-r8 .r8-section h2 {
          font-size: 45px; } }
    .audi-r8 .r8-section .generation-wrap {
      width: 55%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 767px) {
        .audi-r8 .r8-section .generation-wrap {
          width: 100%; } }
      .audi-r8 .r8-section .generation-wrap .name {
        display: block;
        background: -webkit-gradient(linear, left top, right top, color-stop(1%, #878787), color-stop(30%, #d4d4d4), color-stop(75%, #868686), to(#9b9b9b));
        background: linear-gradient(to right, #878787 1%, #d4d4d4 30%, #868686 75%, #9b9b9b 100%);
        color: #252525;
        font-size: 50px;
        font-weight: 600;
        padding: 20px;
        margin: 0 -100px 25px 0; }
        @media (max-width: 1439px) {
          .audi-r8 .r8-section .generation-wrap .name {
            font-size: 30px;
            padding: 10px; } }
        @media (max-width: 767px) {
          .audi-r8 .r8-section .generation-wrap .name {
            margin: 0 0 9px 0;
            font-size: 27px;
            padding: 5px; } }
        @media (max-width: 400px) {
          .audi-r8 .r8-section .generation-wrap .name {
            font-size: 22px; } }
      .audi-r8 .r8-section .generation-wrap .years-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 0 0 0 20%; }
        .audi-r8 .r8-section .generation-wrap .years-wrap .years {
          padding: 0 0 0 12px;
          font-size: 42px;
          font-weight: 500;
          white-space: nowrap; }
          @media (max-width: 1439px) {
            .audi-r8 .r8-section .generation-wrap .years-wrap .years {
              font-size: 30px; } }
          @media (max-width: 767px) {
            .audi-r8 .r8-section .generation-wrap .years-wrap .years {
              font-size: 25px; } }
        .audi-r8 .r8-section .generation-wrap .years-wrap .decor {
          display: block;
          width: 100%;
          height: 45px;
          border: 3px solid #fff;
          border-width: 0 0 3px 3px;
          margin: -25px 0 0; }
          @media (max-width: 1219px) {
            .audi-r8 .r8-section .generation-wrap .years-wrap .decor {
              height: 50px; } }
          @media (max-width: 767px) {
            .audi-r8 .r8-section .generation-wrap .years-wrap .decor {
              height: 28px;
              margin: -9px 0 0; } }
    .audi-r8 .r8-section .list-holder {
      width: 50%;
      padding: 0 35px; }
      @media (max-width: 1219px) {
        .audi-r8 .r8-section .list-holder {
          padding: 0 15px; } }
      @media (max-width: 767px) {
        .audi-r8 .r8-section .list-holder {
          width: 100%;
          padding: 0; } }
      .audi-r8 .r8-section .list-holder:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .audi-r8 .r8-section .list-dotted li {
      margin: 0 0 50px;
      padding: 0 0 0 20px;
      position: relative; }
      @media (max-width: 991px) {
        .audi-r8 .r8-section .list-dotted li {
          margin: 0 0 20px;
          padding: 0 0 0 10px; } }
      .audi-r8 .r8-section .list-dotted li:last-child {
        margin: 0; }
        @media (max-width: 991px) {
          .audi-r8 .r8-section .list-dotted li:last-child {
            margin: 0 0 15px; } }
      .audi-r8 .r8-section .list-dotted li:before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 13px; }
        @media (max-width: 991px) {
          .audi-r8 .r8-section .list-dotted li:before {
            width: 5px;
            height: 5px; } }
    .audi-r8 .r8-section .fun {
      padding: 40px 25px;
      border: 3px solid #fff; }
      @media (max-width: 1219px) {
        .audi-r8 .r8-section .fun {
          padding: 20px; } }
      @media (max-width: 767px) {
        .audi-r8 .r8-section .fun {
          padding: 10px; } }
      .audi-r8 .r8-section .fun span {
        display: inline-block;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 40px; }
        @media (max-width: 1219px) {
          .audi-r8 .r8-section .fun span {
            font-size: 30px;
            margin: 0 0 15px; } }
        @media (max-width: 767px) {
          .audi-r8 .r8-section .fun span {
            font-size: 20px;
            margin: 0 0 10px; } }
        @media (max-width: 400px) {
          .audi-r8 .r8-section .fun span {
            font-size: 16px;
            margin: 0 0 5px; } }
      .audi-r8 .r8-section .fun p {
        margin: 0; }
    @media (max-width: 1439px) {
      .audi-r8 .r8-section .small-img {
        margin: 0 -15px !important; } }
    @media (max-width: 767px) {
      .audi-r8 .r8-section .small-img {
        margin: 0 !important;
        text-align: center; } }
  .audi-r8 .specifications {
    padding: 0 0 150px; }
    @media (max-width: 1439px) {
      .audi-r8 .specifications {
        padding: 0 0 100px; } }
    @media (max-width: 1219px) {
      .audi-r8 .specifications {
        padding: 0 0 75px; } }
    @media (max-width: 991px) {
      .audi-r8 .specifications {
        padding: 0 0 50px; } }
    .audi-r8 .specifications .title {
      display: block;
      background: -webkit-gradient(linear, left top, right top, from(#e3e3e3), color-stop(62%, #878787), to(#e3e3e3));
      background: linear-gradient(to right, #e3e3e3 0%, #878787 62%, #e3e3e3 100%);
      color: #252525;
      font-weight: 700;
      font-size: 30px;
      padding: 23px;
      margin: 0 0 75px;
      text-transform: uppercase;
      text-align: center;
      position: relative; }
      @media (max-width: 1219px) {
        .audi-r8 .specifications .title {
          font-size: 27px;
          padding: 15px; } }
      @media (max-width: 991px) {
        .audi-r8 .specifications .title {
          font-size: 25px;
          padding: 10px; } }
      @media (max-width: 400px) {
        .audi-r8 .specifications .title {
          font-size: 22px;
          padding: 5px 15px;
          margin: 0px 0 30px; } }
      .audi-r8 .specifications .title:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-style: solid;
        border-width: 86px 0 0 123px;
        border-color: transparent transparent transparent #9b1c20; }
        @media (max-width: 767px) {
          .audi-r8 .specifications .title:before {
            display: none; } }
      .audi-r8 .specifications .title:after {
        content: '';
        position: absolute;
        background: url(../img/img5.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 123px;
        height: 88px;
        right: 0;
        top: 100%; }
        @media (max-width: 1219px) {
          .audi-r8 .specifications .title:after {
            width: 93px;
            height: 67px; } }
        @media (max-width: 991px) {
          .audi-r8 .specifications .title:after {
            width: 70px;
            height: 50px; } }
        @media (max-width: 767px) {
          .audi-r8 .specifications .title:after {
            display: none; } }
    .audi-r8 .specifications .characteristics-wrap {
      padding: 0 100px; }
      @media (max-width: 1439px) {
        .audi-r8 .specifications .characteristics-wrap {
          padding: 0 50px; } }
      @media (max-width: 991px) {
        .audi-r8 .specifications .characteristics-wrap {
          padding: 0 35px; } }
      @media (max-width: 767px) {
        .audi-r8 .specifications .characteristics-wrap {
          padding: 0 20px; } }
    .audi-r8 .specifications .characteristics-list li {
      border-top: 2px solid #fff;
      padding: 10px 0 15px; }
      @media (max-width: 1219px) {
        .audi-r8 .specifications .characteristics-list li {
          padding: 7px 0; } }
      @media (max-width: 767px) {
        .audi-r8 .specifications .characteristics-list li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 400px) {
        .audi-r8 .specifications .characteristics-list li {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          text-align: center; } }
      .audi-r8 .specifications .characteristics-list li:last-child {
        border-bottom: 2px solid #fff; }
      .audi-r8 .specifications .characteristics-list li .parameter {
        display: block;
        color: #000000;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600; }
        @media (max-width: 1219px) {
          .audi-r8 .specifications .characteristics-list li .parameter {
            font-size: 20px; } }
        @media (max-width: 767px) {
          .audi-r8 .specifications .characteristics-list li .parameter {
            font-size: 16px;
            margin: 0 15px 0 0; } }
        @media (max-width: 400px) {
          .audi-r8 .specifications .characteristics-list li .parameter {
            margin: 0; } }
      .audi-r8 .specifications .characteristics-list li .description {
        font-size: 24px;
        font-weight: 300; }
        @media (max-width: 1219px) {
          .audi-r8 .specifications .characteristics-list li .description {
            font-size: 20px; } }
        @media (max-width: 991px) {
          .audi-r8 .specifications .characteristics-list li .description {
            font-size: 16px; } }
        @media (max-width: 786px) {
          .audi-r8 .specifications .characteristics-list li .description {
            text-align: right; } }
        @media (max-width: 400px) {
          .audi-r8 .specifications .characteristics-list li .description {
            text-align: center; } }
    @media (max-width: 767px) {
      .audi-r8 .specifications .characteristics-list.border-bottom-none li:last-child {
        border-bottom: none; } }
    .audi-r8 .specifications .small-text {
      font-size: 16px;
      letter-spacing: 1px; }
      @media (max-width: 1219px) {
        .audi-r8 .specifications .small-text {
          font-size: 12px; } }
  .audi-r8 .intro-section {
    background: url(../../img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    min-height: 950px;
    padding: 160px 90px 20px; }
    @media (max-width: 1439px) {
      .audi-r8 .intro-section {
        padding: 140px 60px 20px; } }
    @media (max-width: 1219px) {
      .audi-r8 .intro-section {
        min-height: 400px;
        padding: 100px 30px 10px; } }
    @media (max-width: 767px) {
      .audi-r8 .intro-section {
        padding: 40px 10px 10px; } }
    @media (max-width: 400px) {
      .audi-r8 .intro-section {
        min-height: 350px; } }
    .audi-r8 .intro-section .intro-title {
      margin: 0 0 130px; }
      @media (max-width: 991px) {
        .audi-r8 .intro-section .intro-title {
          margin: 0 0 80px; } }
      @media (max-width: 400px) {
        .audi-r8 .intro-section .intro-title {
          margin: 0 0 55px; } }
      .audi-r8 .intro-section .intro-title h2 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 54px;
        font-weight: 500; }
        @media (max-width: 1219px) {
          .audi-r8 .intro-section .intro-title h2 {
            font-size: 45px; } }
        @media (max-width: 991px) {
          .audi-r8 .intro-section .intro-title h2 {
            font-size: 40px; } }
        @media (max-width: 767px) {
          .audi-r8 .intro-section .intro-title h2 {
            font-size: 35px;
            letter-spacing: 5px; } }
        @media (max-width: 400px) {
          .audi-r8 .intro-section .intro-title h2 {
            font-size: 30px; } }
      .audi-r8 .intro-section .intro-title h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 41px; }
        @media (max-width: 1219px) {
          .audi-r8 .intro-section .intro-title h1 {
            font-size: 35px; } }
        @media (max-width: 991px) {
          .audi-r8 .intro-section .intro-title h1 {
            font-size: 32px; } }
        @media (max-width: 767px) {
          .audi-r8 .intro-section .intro-title h1 {
            font-size: 28px; } }
        @media (max-width: 400px) {
          .audi-r8 .intro-section .intro-title h1 {
            font-size: 22px; } }
  .audi-r8 .supercars {
    background: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 70px 100px 10px; }
    @media (max-width: 1439px) {
      .audi-r8 .supercars {
        padding: 20px 60px;
        min-height: 500px; } }
    @media (max-width: 991px) {
      .audi-r8 .supercars {
        padding: 20px 40px;
        min-height: 450px; } }
    @media (max-width: 767px) {
      .audi-r8 .supercars {
        min-height: 385px;
        padding: 20px 30px; } }
    @media (max-width: 400px) {
      .audi-r8 .supercars {
        min-height: 320px;
        padding: 20px; } }
    .audi-r8 .supercars .info-holder {
      width: 50%;
      overflow: hidden; }
      @media (max-width: 1219px) {
        .audi-r8 .supercars .info-holder {
          width: 100%; } }
    .audi-r8 .supercars h2 {
      display: inline;
      position: relative;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 42px;
      font-weight: 500; }
      @media (max-width: 991px) {
        .audi-r8 .supercars h2 {
          font-size: 35px; } }
      @media (max-width: 767px) {
        .audi-r8 .supercars h2 {
          font-size: 30px; } }
      .audi-r8 .supercars h2:after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 4px;
        width: 700px;
        background: #fff;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
        @media (max-width: 767px) {
          .audi-r8 .supercars h2:after {
            height: 2px; } }
        @media (max-width: 400px) {
          .audi-r8 .supercars h2:after {
            display: none; } }
    .audi-r8 .supercars .img-holder {
      position: relative;
      text-align: right;
      margin: -50px -50px 0 0;
      z-index: 1; }
      @media (max-width: 1219px) {
        .audi-r8 .supercars .img-holder {
          margin: 0 -50px 0 0; } }
      @media (max-width: 991px) {
        .audi-r8 .supercars .img-holder {
          margin: 0; } }
      .audi-r8 .supercars .img-holder:after {
        content: '';
        position: absolute;
        background: url(../img/shadow1.png);
        width: 900px;
        height: 900px;
        right: -50px;
        top: 40%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 2; }
        @media (max-width: 767px) {
          .audi-r8 .supercars .img-holder:after {
            display: none; } }
      .audi-r8 .supercars .img-holder img {
        position: relative;
        z-index: 3; }
  .audi-r8 .le-mans {
    padding: 20px 100px 0 100px;
    position: relative; }
    @media (max-width: 1439px) {
      .audi-r8 .le-mans {
        padding: 20px 60px; } }
    @media (max-width: 991px) {
      .audi-r8 .le-mans {
        padding: 20px 40px; } }
    @media (max-width: 767px) {
      .audi-r8 .le-mans {
        padding: 20px 30px; } }
    @media (max-width: 400px) {
      .audi-r8 .le-mans {
        padding: 20px; } }
    .audi-r8 .le-mans .two-cols {
      margin: 0 -35px; }
      @media (max-width: 991px) {
        .audi-r8 .le-mans .two-cols {
          margin: 0; } }
      @media (max-width: 1219px) {
        .audi-r8 .le-mans .two-cols .col:first-child {
          width: 70%; } }
      @media (max-width: 991px) {
        .audi-r8 .le-mans .two-cols .col:first-child {
          width: 80%;
          z-index: 1; } }
      @media (max-width: 767px) {
        .audi-r8 .le-mans .two-cols .col:first-child {
          width: 100%;
          z-index: 1; }
          .audi-r8 .le-mans .two-cols .col:first-child p:last-child {
            width: 65%; } }
      @media (max-width: 1219px) {
        .audi-r8 .le-mans .two-cols .col:last-child {
          width: 30%; } }
  @media (max-width: 1219px) and (max-width: 991px) {
    .audi-r8 .le-mans .two-cols .col:last-child {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
  @media (max-width: 1219px) and (max-width: 767px) {
    .audi-r8 .le-mans .two-cols .col:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
      top: auto;
      -webkit-transform: none;
              transform: none;
      width: 40%; } }
  @media (max-width: 1219px) and (max-width: 400px) {
    .audi-r8 .le-mans .two-cols .col:last-child {
      -webkit-transform: translateY(-90%);
              transform: translateY(-90%); } }
    .audi-r8 .le-mans .img-holder {
      margin: 0 -100px 0 0; }
      @media (max-width: 1219px) {
        .audi-r8 .le-mans .img-holder {
          margin: 0 -45px 0 0;
          text-align: right; } }
      @media (max-width: 767px) {
        .audi-r8 .le-mans .img-holder {
          margin: 0; } }
      .audi-r8 .le-mans .img-holder img {
        width: 100%; }
    @media (max-width: 1219px) {
      .audi-r8 .le-mans p {
        margin: 0 0 25px; } }
    @media (max-width: 991px) {
      .audi-r8 .le-mans p {
        margin: 0 0 15px; } }
  .audi-r8 .generation-style-1 {
    background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px; }
    .audi-r8 .generation-style-1 .small-img {
      margin: 60px -15px 0 -10px; }
      @media (max-width: 991px) {
        .audi-r8 .generation-style-1 .small-img {
          margin: 30px 0 0; } }
  .audi-r8 .e-tron {
    background-image: url(../img/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .audi-r8 .e-tron .small-img {
      margin: 50px -30px 0 0; }
    .audi-r8 .e-tron .fun {
      margin: 30px 0 0; }
  .audi-r8 .generation-style-2 {
    background-image: url(../img/bg5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .audi-r8 .generation-style-2 .small-img {
      margin: 0 -85px 0 -60px; }
  .audi-r8 .update {
    background-image: url(../img/bg6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .audi-r8 .update .title-block {
      margin: 0 0 120px; }
      @media (max-width: 991px) {
        .audi-r8 .update .title-block {
          margin: 0 0 30px; } }
      @media (max-width: 767px) {
        .audi-r8 .update .title-block {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin: 0 0 20px; } }
    .audi-r8 .update p {
      margin: 0 0 50px; }
      @media (max-width: 1219px) {
        .audi-r8 .update p {
          margin: 0 0 30px; } }
      @media (max-width: 767px) {
        .audi-r8 .update p {
          margin: 0 0 20px; } }
    .audi-r8 .update .small-img {
      margin: -35px -35px 0 0; }
