#footer {
	padding: rem-calc(20 0);

	@include media('>desktop') {
		padding: rem-calc(40 0 30);
	}	
}

.footer-info {
	flex-wrap: wrap;
	
	@include media('>tablet') {
		justify-content: space-between;
		align-items: center;
	}	

	.info,
	.links {
		width: 100%;
		text-align: center;
		justify-content: center;

		@include media('>tablet') {
			width: inherit;
		}
	}
}

.info {
  order: 1;

	@include media('>tablet') {
		order: 0;
		font-size: 12px;
	}

	@include media('>desktop') {
		font-size: 14px;
	}

	a {
		color: black;
		&:hover {
			color: $red;
		}
	}	
}

.links {
	@extend %listreset;
	li {
		margin: rem-calc(0 10);
		padding: rem-calc(0 0 10);

		@include media('>tablet') {
			margin: rem-calc(0 25);
			padding: rem-calc(0);
		}	
	}
	a {
		color: $black;
		font-size: 18px;
		transition: color .3s ease-in-out;

		@include media('>desktop') {
			font-size: 25px;
		}	
		&:hover {
			color: $red;
		}
	}
}

